body {
  margin: 0;

  font-family: "Comfortaa", sans-serif;
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .react-datepicker__input-container,
body .react-datepicker-wrapper {
  display: block;
}

@keyframes SuspenseLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.suspenseLoader {
  animation-name: SuspenseLoader;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  width: 300px;
  height: 300px;
}

.suspenseWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}
